.container {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.container > label {
  display: block;
  font-weight: 700;
}

.container > label:not(:first-child) {
  margin-top: 1rem;
}

.container > input,
.container > textarea {
  width: 100%;
  background-color: var(--text-color);
  color: var(--background-color);
  font-weight: 700;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  opacity: 0.8;
  resize: none;
}
